#banner {
position:relative ;
padding: 50px 0;
}


#banner .container {
display: flex;
justify-content:space-between ;
}


#banner h1 {
font-weight: 400;
font-size: 54px;
color: black;

}

#banner p {
font-weight: 400;
font-size: 16px;
color: blanchedalmond;

}

@media screen and (max-widh: 904px ;)
    
