#banner {
    position: relative;
    padding: 50px 0;
}

#banner .container {
    display: flex;
    justify-content: space-between;
}

#banner h1 {
    font-weight: 400;
    font-size: 54px;
    color: #222222;
}

#banner p {
    font-weight: 400;
    font-size: 16px;
    color: #222222;
}


@media screen and (max-width: 904px) {
    #banner .container {
        flex-direction: column;
        gap: 100px;
        align-items: center;
    }
}